<% content_for :page_title, "RSVP for Frankie & Fiona's Wedding" %>
<% content_for :head do %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" %>
  <%= javascript_include_tag "rsvp" %>

<% end %>
<article>
<h1><abbr title="Répondez s'il vous plaît">RSVP</abbr></h1>

<p class="intro">We’d love to see you at our wedding. If you can make it, it’d really help us out if you could let us know a few details about your group using the form below.</p>

<%= form_tag do %>

  <div class="group_name">
    <%= label_tag :group_name, "Your name" %>
    <%= text_field_tag :group_name, "", :placeholder => "Mr & Mrs Smith", :maxlength => 50 %>
  </div>

  <%= content_tag :fieldset do %>
    <%= content_tag "legend", "Are you coming?" %>

    <%= radio_button_tag :response, :yes %>
    <%= label_tag :response_yes, "Yes! We’ll be there." %>

    <%= radio_button_tag :response, :no %>
    <%= label_tag :response_no, "Sorry we can’t make it" %>

  <% end %>


  <%= content_tag :fieldset, :class => "details" do %>
    <%= content_tag "legend", "How many of you?" %>

    <%= label_tag :adults, "Adults" %>
    <%= number_field_tag :adults, 2, :min => 0, :max => 20 %>

    <%= label_tag :kids, "Kids" %>
    <%= number_field_tag :kids, 0, :min => 0, :max => 20 %>

  <% end %>

  <%= content_tag :fieldset, :class => "details" do %>
    <%= content_tag :legend, "Food" %>

    <%= label_tag :vegetarians, "Vegetarians" %>
    <%= number_field_tag :vegetarians, 1, :min => 0, :max => 20 %>

    <%= label_tag :meat_eaters, "Meat eaters" %> (lamb)
    <%= number_field_tag :meat_eaters, 1, :min => 0, :max => 20 %>

  <% end %>

  <%= content_tag :fieldset, :class => "options details" do %>
    <%= content_tag :legend, "Accommodation" %>
    <p>We’ll be hiring a minibus in the evening to shuttle people back to their accommodation (unless you’re camping). To help us plan this, it’d help if you could let us know where you’re staying. If you don’t know yet, leave this blank.</p>

    <div>
      <div class="selector">
        <%= radio_button_tag :accommodation_type, :camping %>
        <%= label_tag :accommodation_type_camping, "Camping" %>
      </div>

      <div class="additional">
        <div>
          <%= label_tag :tents, "Number of tents" %>
          <%= number_field_tag :tents, 1, :min => 0, :max => 10 %>
        </div>

        <div>
          <%= label_tag :camping_friday, "Also camping on the Friday night" %>
          <%= check_box_tag :camping_friday %>
        </div>
      </div>
    </div>

    <div>
      <div class="selector">
        <%= radio_button_tag :accommodation_type, :hotel %>
        <%= label_tag :accommodation_type_hotel, "Hotel or B&B" %>
      </div>

      <div class="additional">
        <%= label_tag :accommodation_name, "Name" %>
        <%= text_field_tag :accommodation_name, "", :maxlength => 50, :placeholder => "Pen-y-gwryd" %>
      </div>
    </div>
  <% end %>

  <%= submit_tag "RSVP" %>

<% end %>

</article>