<nav class="big-camp">
	<%= link_to 'Northern Spain', bigcamp_northern_spain_path %>
	<%= link_to 'Portugal', bigcamp_portugal_path %>	
	<%= link_to 'Andalucia', bigcamp_andalucia_path %>		
	<%= link_to 'Aragon', bigcamp_aragon_path %>		
	<%= link_to 'Catalonia', bigcamp_catalonia_path %>
	<%= link_to 'Provence', bigcamp_provence_path %>
	<%= link_to 'Ardeche', bigcamp_ardeche_path %>
	<%= link_to 'Cevennes', bigcamp_cevennes_path %>
	<%= link_to 'Alps', bigcamp_alps_path %>
	<%= link_to 'Paris', bigcamp_paris_path %>

</nav>