<!DOCTYPE html>
<html>
<head>
  <title><%= yield :page_title %></title>
  <%= stylesheet_link_tag "wedding" %>
  <%= csrf_meta_tag %>
  <link rel="shortcut icon" href="<%= image_path("tent.png")%>">
  <link href='http://fonts.googleapis.com/css?family=Nixie+One|Quattrocento' rel='stylesheet' type='text/css'>
  <meta name="robots" content="noindex">
</head>
<body>

  <div class="page">
    <nav>
      <%= link_to "The Wedding", wedding_path, :class => :wedding %>
      <%= link_to "Location", wedding_location_path, :class => :location %>
      <%= link_to "The Area", wedding_area_path %>
      <%= link_to "Accommodation", wedding_accommodation_path %>
      <%= link_to "Schedule", wedding_schedule_path %>
    </nav>

    <%= yield %>
  </div>
</body>
</html>
